.my-plugin-button{
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: .8em;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}
.modify,.modify:hover{
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    
}
.delete{
    cursor: pointer;
    background-color: red;

}